/* General Reset */
* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
    padding: 20px;
    display: flex;
    justify-content: center;
}

/* Main Box */
.box{
    max-width: 800px;
    width: 100%;
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
}

/* Header inside box */
.Header h1 {
    background-color: #0A3161;
    font-size: 2rem;
    color: white;
    margin-bottom: 20px;
}

/* Button styling */
.Header button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #0A3161;
    color: #fff;
    border: none;
    cursor: pointer;
}

.Header button:hover {
    background-color: #BF0A30;
}

/* Links inside header */
.Header a {
    text-decoration: none;
}

ul, li {
    list-style-type: none;
}

.Tourist button{
    margin-top: 30px;
    width: 500px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #0A3161;
    color: #fff;
    border: none;
    cursor: pointer;
}

.Tourist h1 {
    margin-top: 30px;
    background-color: #0A3161;
    color: #fff;
}

.Tourist button:hover {
    background-color: #BF0A30;
}